.genre-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 10px;
  }

  .genre-card {
    margin-top: 20px;
  }

  .genre-card > div {
    padding: 20px;
    text-align: center;
  }

  .genre-card > div > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
  }


  .track-name {
    max-width: 220px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .title {
	color: #333;
	font-size: 2.5em;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}

.rounded-img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
  }
  ul> li> a{
    color:white;
  }

  ul li {
    margin-bottom: 10px; /* adjust this value as needed */
  }


  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }