body{
    background: #BDC3CB;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    height: 400px;
    margin: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title {
    color: #333333;
    font-size: 18px;
    margin-top: 20px;
}

.store-info {
    padding: 2px 16px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-card {
    display: flex;
    flex: 1 0 21%;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 800px;
    transition: all 0.3s ease;
    max-width: 440px;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    margin-right: 16px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    flex: 1;
  }
  
  .product-name {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
  
  .product-brand {
    font-size: 16px;
    margin: 0;
    color: #666;
  }
  
  .product-size,
  .product-place,
  .product-price {
    font-size: 18px;
    margin: 4px 0;
  }
  

  h1{
    text-align: center;
    color: #333333;
    background-color: #EDE7DC;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {
    background-color:  #CCAFA5;
    border-radius: 10px;
    border: none;
    color: #333333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    width: 20%;
}
option {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
}
option:hover {
    background-color: #e6e6e6;
}

